svg rect.eventBox {
  width: 20px;
  stroke: none;
  fill: url(#eventFill);
}

svg rect.dayBox {
  fill: white;
  opacity: 0.0;
}

svg rect.hourMarker {
  fill: url(#hourMarkFill);
  stroke: none;
  width: 15px;
  height: 15px;
