svg rect.seperator {
  width:40px;
  fill: url(#dotFill);
  stroke: black;
  stroke-width: 4;
}

svg rect.eventBox {
  width: 20px;
  fill: white;
  stroke: black;
  stroke-width: 3;
}

svg rect.dayBox {
  fill: white;
  stroke: black;
  stroke-width: 3;
  opacity: 0.0;
}

svg circle.hourMarker {
  fill: white;
  stroke: black;
  stroke-width: 3;
  r: 10;
}
